/* Styles */

/* Buttons */
.common-button {
    -fx-background-color: #323232;
}


/* Text-Fields */
.common-text-field {
    -fx-background-color: #323232;
    -fx-text-fill: #CCCCCC;
}

.searchbar {
    -fx-background-color: #505050;
    -fx-text-fill: #CCCCCC
}

/*  */

