/* Add Account Page Styles */

/* Save Button */
.save-button {
    -fx-background-color: #404040;
    -fx-text-fill: #F8B607;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.save-button:hover {
    -fx-background-color: #363636;
}

.save-button:focused {
    -fx-background-color: #363636;
}