/* Main Page Styles */

/* Searchbar */
.searchbar {
    -fx-background-color: #505050;
    -fx-text-fill: #CCCCCC;
    -fx-font-size: 15px;
}

/* Table View */
.table-view {
    -fx-background-color: #404040;
    -fx-background-radius: 5px;
    -fx-border-color: #404040;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 15px;
}

/* Table Cell */
.table-cell {
    -fx-text-fill: #F8B607;
    -fx-border-color: transparent;
    -fx-border-width: 5px;
}

/* Table Header */
.column-header {
    -fx-background-color: #808080;
    -fx-border-color: #404040;
}

.column-header:hover {
    -fx-background-color: #F8B607;
    -fx-opacity: 0.75;
    /*-fx-border-color: #F8B607;*/
}

.column-header-background {
    -fx-background-color: #404040;
}

.filler {
    -fx-background-color: transparent;
}

.corner {
    -fx-background-color: transparent;
}

/* Table Row */
.table-row-cell {
    -fx-background-color: #404040;
}

.table-row-cell:odd {
    -fx-background-color: #505050;
}

.table-row-cell:selected {
    -fx-background-color: #F8B607;
    -fx-opacity: 0.75;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: #000000;
}